# Node
node_modules/
npm-debug.log
yarn-error.log

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform-outputs.txt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Environment
.env
.env.local
